.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url("../images/wall.png");
  }

  #startButton {
    margin: 35px 0 0 -40px;
    height: 75px;
    position: absolute;
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #ff0000;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
    }

  #startButton:hover {
    transform: scale(1.1);
    box-shadow: inset 0 0 10px rgb(63, 0, 0);
  }


.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #000000be;
    width: 100%;
    height: 100px;
    border-bottom: 5px solid #ffd700;
    border-top: 5px solid #ffd700;
}
.menu h2 {
    color: #ff0000;
}

.menu h3 {
    color: #ffffff;
}

.menu-time{
    display: flex;
    gap: 30px;
}

.menu-score{
    display: flex;
    gap: 30px;
}
.high-score{
    display: flex;
    gap: 30px;
}


.panel {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.square {
    height: 150px;
    width: 150px;
    border: 2px solid #ffd700;
    background-color: #000000be
}

.enemy {
    background-image: url("../images/ralph.png");
    background-size: cover;
}

.start-button{
    z-index: 10;
}

.menu-lives {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 500px){

    .square {
        height: 120px;
        width: 120px;
        
    }

    .menu{
        padding: 15px;
    }

    .menu h2 {
        color: #ff0000;
        font-size: 20px;
    }
    
    .menu h3 {
        color: #fff9f9;
        margin-top: 15px;
        font-size: 15px;
    }
}
