.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url("../images/wall.png");
  }

  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.897);
    z-index: 1000;
}

.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    text-align: center;
    font-size: 25px;
}

.game-title{
    width: 500px;
    height: 200px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffffd3;
    color: #ff0000;
    margin: 50px auto 100px;
}

.game-title h1{
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
}

.game-title h2{
    font-size: 28px;
}

.overlay-content h3{
    background-image: linear-gradient(45deg, #ff0000, #ff3c00);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10PX;
    margin-top: 150px;
}

.start-button, .restart-button {
    margin: 30px auto;
    height: 75px;
    padding: 10px 20px;
    font-size: 1.2rem;
    background-image: linear-gradient(45deg, #ff0000, #ff3c00);
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}

.start-button:hover, .restart-button:hover, .how-to-play:hover{
    transform: scale(1.1);
    box-shadow: inset 0 0 10px rgb(48, 0, 0);
}

.start-button:focus, .restart-button:focus, .how-to-play:focus {
    outline: none;
}

.how-to-play{
    margin: auto;
    height: 40px;
    font-size: 10px;
    padding: 10px;
    background-image: linear-gradient(45deg, #ff0000, #ff3c00);
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}

.hide{
    display: none;
}

.block{
    display: block;
}

.tutorial{
    margin-top: 230px;
    width: 100%;
}

.tutorial-close{
    color: #ff0000;
    text-align: end;
    padding: 10px 5px 0;
    cursor: pointer;
}

.tutorial-content h3{
    margin: 0;
    font-size: 15px;
}

.tutorial p{
    font-size: 10px;
    color: #ffffff;
    line-height: 25px;
    text-align: left;
}

.good {
    color: #ff0000;
    font-size: 12px;
    text-align:center;
}

.overlay-content h3 {
    font-size: 1em;
    margin-bottom: 10px;
}

.overlay-content h3 span{
    color: #ffffff;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #000000be;
    width: 100%;
    height: 100px;
    border-bottom: 5px solid #ffd700;
    border-top: 5px solid #ffd700;
}
.menu h2 {
    background-image: linear-gradient(45deg, #ff0000, #ff3c00);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.panel {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.square {
    height: 150px;
    width: 150px;
    border: 2px solid #ffd700;
    background-color: #000000be
}

.enemy {
    background-image: url("../images/ralph.png");
    background-size: cover;
}

.start-button{
    z-index: 10;
}

.menu-lives {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 500px){

    .game-title{
        width: 350px;
    }

    .game-title h1{
        font-size: 35px;
        margin-bottom: 20px;
    }
    
    .game-title h2{
        font-size: 28px;
    }
    
    .square {
        height: 120px;
        width: 120px;
        
    }

    .menu{
        padding: 15px;
    }

    .menu h2 {
        color: #ff0000;
        font-size: 20px;
    }
    
    .menu h3 {
        color: #fff9f9;
        margin-top: 15px;
        font-size: 15px;
    }
}
